fastapi==0.115.8
pydantic==2.10.6
uvicorn==0.34.0
chromadb==0.6.3
ollama==0.4.7
pdfminer.six==20240706
langchain==0.3.18
langchain-ollama==0.2.3
streamlit==1.42.0
requests==2.32.3
#for Real-Time Document Indexing add this package otherwise no need
#watchdog
#python-pptx
#python-docx
